body {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  margin-top: 50px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

header {
  background-color: #007bff;
  color: #fff;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #007bff;
  color: #fff;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: left;
}

form button[type="submit"] {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}

form button[type="submit"]:hover,
form button[type="submit"]:focus,
form button[type="submit"]:active {
  background-color: #0056b3;
  border-color: #0056b3;
  color: #fff;
  outline: none;
  box-shadow: none;
  transform: scale(1.02);
}

form select {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}