{% extends 'lk/layout.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block body %}
<main class="container">
    <button class="btn btn-success" href="#">Открыть камеру</button>
    <h2>Ваша корзина</h2>
    <div class="col">
        <div class="row">
            <div class="card">
                <div class="card_left">
                    <img src="#" alt="Фотография товара">
                </div>
                <div class="card_right">
                    <div class="name">Название товара</div>
                    <div class="count">Кол-во товара</div>
                    <div class="price">Стоимость товара</div>
                    <div class="cost">Итого</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card_left">
                    <img src="#" alt="Фотография товара">
                </div>
                <div class="card_right">
                    <div class="name">Название товара</div>
                    <div class="count">Кол-во товара</div>
                    <div class="price">Стоимость товара</div>
                    <div class="cost">Итого</div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}