{% extends 'reg_log/layout.html' %}
{% block title %}
<head>
 <title>Our Team</title>
</head>
{% endblock %}
{% block body %}
 <main class="container">
  <div class="card">
   <img src="path/to/photo2.jpg" alt="Photo">
   <h3>Tima</h3>
   <h3>Sosnin</h3>
   <p><a href="https://github.com/username2">github.com/username2</a></p>
   <p><a href="mailto:email2@example.com">email2@example.com</a></p>
   <p>+1234567890</p>
  </div>

  <div class="card">
   <img src="path/to/photo3.jpg" alt="Photo">
   <h3>Arseni</h3>
   <h3>Barashko</h3>
   <p><a href="https://github.com/username3">github.com/username3</a></p>
   <p><a href="mailto:email3@example.com">email3@example.com</a></p>
   <p>+1234567890</p>
  </div>

  <div class="card">
   <img src="path/to/photo4.jpg" alt="Photo">
   <h3>Anton</h3>
   <h3>Proshin</h3>
   <p><a href="https://github.com/username4">github.com/username4</a></p>
   <p><a href="mailto:email4@example.com">email4@example.com</a></p>
   <p>+1234567890</p>
  </div>
  <div class="card">
   <img src="path/to/photo1.jpg" alt="Photo">
   <h3>Kirill</h3>
   <h3>Sleptsov</h3>
   <p><a href="https://github.com/Sleptsov99">github.com/Sleptsov99</a></p>
   <p><a href="mailto:kirill_sleptsov@mail.ru">kirill_sleptsov@mail.ru</a></p>
   <p>+79313245934</p>
  </div>
 </main>
{% endblock %}
