{% extends 'reg_log/layout.html' %}
{% block title %}
<head>
 <title>Our Team</title>
</head>
{% endblock %}
{% block body %}
 <main class="container">
  <div class="card">
   <h3>Timofey</h3>
   <h3>Sosnin</h3>
   <p><a href="https://github.com/cactus-tim">https://github.com/cactus-tim</a></p>
   <p><a href="mailto:tim.sosnin@gmail.com">tim.sosnin@gmail.com</a></p>
   <p>89219988111</p>
  </div>

  <div class="card">
   <h3>Arseniy</h3>
   <h3>Barashko</h3>
   <p><a href="https://github.com/SISHRAK">https://github.com/SISHRAK</a></p>
   <p><a href="mailto:barashko04@gmail.com">barashko04@gmail.com</a></p>
   <p>89657892023</p>
  </div>

  <div class="card">
   <h3>Anton</h3>
   <h3>Proshin</h3>
   <p><a href="https://github.com/LIQUID-HORSE">https://github.com/LIQUID-HORSE</a></p>
   <p><a href="mailto:pinchedrock@gmail.com">pinchedrock@gmail.com</a></p>
   <p>89066699999</p>
  </div>
  <div class="card">
   <h3>Kirill</h3>
   <h3>Sleptsov</h3>
   <p><a href="https://github.com/Sleptsov99">github.com/Sleptsov99</a></p>
   <p><a href="mailto:kirill_sleptsov@mail.ru">kirill_sleptsov@mail.ru</a></p>
   <p>89313245934</p>
  </div>
 </main>
{% endblock %}
