{% extends 'reg_log/layout.html' %}
{% block title %}
    <title>Правила работы с сайтом</title>
{% endblock %}
{% block body %}
<div class="card-wrapper2">
<p>1. Необходимо зарегистрироваться на сайте, чтобы получить доступ ко всем его функциям.</p>
<p>2.После завершения регистрации Вам необходимо пополнить свой баланс для совершения покупок</p>
<p>3. Необходимо соблюдать правила пользования сайтом и не нарушать законы Российской Федерации.</p>
<p>4. Запрещается использовать сайт для распространения незаконной информации, в том числе нарушающей авторские права.</p>
<p>5. Нежелательно оставлять на сайте личную информацию, которая может быть использована мошенниками.</p>
<p>6. В случае нарушения правил пользования сайтом пользователь может быть забанен.</p>
<p>7. Администрация сайта оставляет за собой право изменить правила пользования сайтом в любое время без предварительного уведомления.</p>
</div>
{% endblock %}