{% extends 'reg_log/layout.html' %}

{% block title %}
    <title>Каталог</title>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 bg-danger text-center">
                <h2>Мясные блюда</h2>
                <ul>
                    <li>Стейк из говядины</li>
                    <li>Шашлык из свинины</li>
                    <li>Куриные крылья BBQ</li>
                </ul>
            </div>
            <div class="col-md-3 bg-secondary text-center">
                <h2>Вегетарианское</h2>
                <ul>
                    <li>Салат Цезарь с темпе</li>
                    <li>Картофель фри</li>
                    <li>Овощной рагу</li>
                </ul>
            </div>
            <div class="col-md-3 bg-primary text-center">
                <h2>Напитки</h2>
                <ul>
                    <li>Кола</li>
                    <li>Лимонад</li>
                    <li>Чай</li>
                </ul>
            </div>
            <div class="col-md-3 bg-light text-center">
                <h2>Без белого сахара</h2>
                <ul>
                    <li>Фруктовый салат</li>
                    <li>Овсянка на молоке</li>
                    <li>Фруктовый йогурт</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}