{% extends 'reg_log/layout.html' %}
<html lang="ru">
{% block title %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Политика конфиденциальности</title>
</head>
{% endblock %}
{% block body %}
<body>
    <h1>Политика конфиденциальности</h1>
    <p>Настоящая политика конфиденциальности описывает, как мы собираем, используем и защищаем информацию, которую вы предоставляете нам при использовании нашего сервиса.</p>
    <h2>Сбор информации</h2>
    <p>Мы собираем информацию, которую вы предоставляете нам при регистрации на нашем сайте, заполнении формы заказа или отправке сообщения через нашу контактную форму. Эта информация может включать ваше имя, адрес электронной почты, номер телефона и другую контактную информацию.</p>
    <h2>Использование информации</h2>
    <p>Мы используем предоставленную вами информацию для обработки заказов, связи с вами по поводу заказов и улучшения нашего сервиса. Мы также можем использовать вашу информацию для отправки вам информации о наших продуктах и услугах.</p>
    <h2>Защита информации</h2>
    <p>Мы принимаем меры для защиты вашей информации от несанкционированного доступа, использования или разглашения. Мы храним вашу информацию на защищенных серверах и используем шифрование данных для защиты вашей личной информации.</p>
    <h2>Раскрытие информации третьим лицам</h2>
    <p>Мы не раскрываем вашу информацию третьим лицам, за исключением случаев, когда это необходимо для обработки вашего заказа или соблюдения закона.</p>
    <h2>Согласие на политику конфиденциальности</h2>
    <p>Используя наш сервис, вы соглашаетесь с нашей политикой конфиденциальности. Если вы не согласны с этой политикой, пожалуйста, не используйте наш сервис.</p>
    <h2>Изменения в политике конфиденциальности</h2>
    <p>Мы можем время от времени вносить изменения в нашу политику конфиденциальности. Если мы внесем какие-либо существенные изменения, мы уведомим вас об этом на нашем сайте.</p>
</body>
{% endblock %}