{% extends 'reg_log/layout.html' %}

{% block title %}
    <title>Регистрация</title>
{% endblock %}

{% block body %}
<main class="container my-5">
    <h1 class="mb-4">Регистрация</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="form-row mb-3">
            <div class="col">
                <label for="inputFirstName">Имя</label>
                <input type="text" class="form-control" id="inputFirstName" name="first_name">
            </div>
            <div class="col">
                <label for="inputLastName">Фамилия</label>
                <input type="text" class="form-control" id="inputLastName" name="last_name">
            </div>
            <div class="col">
                <label for="inputMiddleName">Отчество</label>
                <input type="text" class="form-control" id="inputMiddleName" name="middle_name">
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="inputAge">Возраст</label>
            <input type="number" class="form-control" id="inputAge" name="age">
        </div>
        <div class="form-group mb-3">
            <label for="inputEmail">Почта</label>
            <input type="email" class="form-control" id="inputEmail" name="email">
        </div>
        <div class="form-group mb-3">
            <label for="inputPassword">Пароль</label>
            <input type="password" class="form-control" id="inputPassword" name="password">
        </div>
        <div class="form-group mb-3">
            <label for="inputPasswordConfirm">Повторите пароль</label>
            <input type="password" class="form-control" id="inputPasswordConfirm" name="password_confirm">
        </div>
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>
    <p class="mt-3">Уже есть аккаунт? <a href="{% url 'log' %}">Войти</a></p>
    <p class="mt-3">Перейти на страницу авторизации: <a href="{% url 'reg_log' %}">Авторизация</a></p>

</main>
{% endblock %}