{% extends 'reg_log/layout.html' %}

{% block title %}Главная{% endblock %}

{% block body %}
<main class="container">
    <h1>Выбери действие</h1>
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
            <button class="btn btn-primary" href="#">Регистрация</button>
        </div>
        <div class="col">
            <button class="btn btn-primary" href="#">Вход</button>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
</main>

{% endblock %}